<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Order Summary</h1>
    </div>
</div>

<div class="container">
<div  ng-controller="orderSummaryController as ctrl">
	
	<div class="row">
	<div class="col-md-6">
	<div ng-repeat="order in ctrl.orderInfo">
	<div class="jumbotron">
	<h3>Order ID: {{order.orderId}}</h3>
	<table width="450px">
		<tr><th width="300px">Film</th></tr>
		<tr><td>{{order.title}}</td></tr>
		<tr><th>Date</th><th width="150px">Time</th></tr>
		<tr><td>{{order.dateTime | date}}</td><td>{{order.dateTime | date: "hh:mma"}}</td></tr>
		<tr><th>Screen</th></tr>
		<tr><td>Screen {{ctrl.orderInfo[0].screenId}} - {{ctrl.orderInfo[0].screenType}} screen</td></tr>
		<tr><th>Seat</th><th>Price</th></tr>
		<tr ng-repeat="ticket in ctrl.tickets" ng-if="ticket.orderId==order.orderId">
			<td>Row {{ticket.seat.row}} Column {{ticket.seat.col}} </td>
			<td>&pound{{ticket.price | number:2}} - {{ticket.ticketType}}</td></tr>
		<tr><td></td></tr>
	</table>
	<h4>Total: &pound{{order.price | number: 2}}</h4>
	</div>
	</div>
	</div>
	</div>
</div>
</div>