<div class="container">
<div  ng-controller="orderSummaryController as ctrl">
	<h1>Order Summary</h1>
	
	<div ng-repeat="order in ctrl.orderInfo">
	<table>
		<tr><th>Film</th></tr>
		<tr><td>{{order.title}}</td></tr>
		<tr><th>Date</th><th>Time</th></tr>
		<tr><td style="padding-right: 15px;">{{order.dateTime | date}}</td><td>{{order.dateTime | date: "hh:mma"}}</td></tr>
		<tr><th>Seat</th><th>Price</th></tr>
		<tr ng-repeat="ticket in ctrl.tickets" ng-if="ticket.orderId==order.orderId">
			<td style="padding-right: 15px;">Row {{ticket.seat.row}} Column {{ticket.seat.col}} </td>
			<td>&pound{{ticket.price | number:2}} - {{ticket.ticketType}}</td></tr>
		<tr><td></td></tr>
	</table>
	<h4>Total: &pound{{order.price}}</h4>
	</div>
</div>
</div>