@CHARSET "ISO-8859-1";

.filter-row {
	padding-top:10px;
	padding-bottom:15px;
}

.main-row {
	background-color:white;
}

.film-poster {
	margin-top: 10px;
}

.border {
	border: 1px solid black;
}

.form-control {
	width: 100%;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #9d9d9d !important;
	background: radial-gradient(#811839, #3F0C1C) !important;
	font-size: 20px;
}

.nav-pills > li > a:focus {
	color: black !important;
	background-color: whitesmoke !important;
	font-size: 20px;
}

.nav-pills > li > a {
	border-radius: 0px;
	color: black !important;
	background-color: #808080!important;
	font-size: 20px;
}

.nav-pills > li > a:hover {
	background-color: #cccccc !important;
}

#film-search {
	height: 45px;
}

#myModal {
	color: black;
	opacity: 1;

}

.modal-body {
	color: black;
	font-size: 1.3em;
}


#getMovieContainer {
	padding-top: 15px;
}

.row.getmovies {
	background: rgba(93, 25, 43, 0.65);
}

