@CHARSET "ISO-8859-1";

#jumbo2 {
    background-color: #000000!important;
}

#trailerModalContent {
    background-color: #000000;
}

#myTrailerModal {
    background-color: rgba(0,0,0,0.8);
}

#trailerModalDialog {
    top: 15%;
}