<div ng-controller="updateMovieController as ctrl">
    <h1>Update Movie</h1>

    <form role="form">

        <input id="id" placeholder="id" ng-model="id">
    
        <input id="title" placeholder="title" ng-model="movie.title">

        <input id="genre" placeholder="genre" ng-model="movie.genre">

        <input id="releasedate" placeholder="releasedate" ng-model="movie.releasedate">

        <input id="classification" placeholder="classification" ng-model="movie.classification">

        <input id="posterUrl" placeholder="posterUrl" ng-model="movie.posterUrl">

        <input id="trailerUrl" placeholder="trailerUrl" ng-model="movie.trailerUrl">

        <input id="rating" placeholder="rating" ng-model="movie.rating">

        <input id="runtime" placeholder="runtime" ng-model="movie.runtime">

        <input id="description" placeholder="description" ng-model="movie.description">

        <button type="submit" ng-click="ctrl.updateMovie(id, movie)">Update Movie</button>

    </form>
</div>