<!-- div ng-controller="getMovieController as ctrl"> <h1>This is the value of movies</h1><div ng-repeat="x in ctrl.movies"><img src={{x.posterUrl}}></div></div>

<!-- Content goes here -->

<link rel="stylesheet" href="css/viewStyleSheets/movie/get-movie-style.css"/>
<div>
    <div class="container" id="getMovieContainer" ng-controller="getMovieController as ctrl">
        <section class="row search-row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form>
                    <div class="form-group">
                        <input type="search" name="filmsearch" placeholder="Type anything in here to search for a film"
                               class="form-control form-control-lg" id="film-search" ng-model="filmFilter">
                    </div>
                </form>
            </div>
        </section>


        <div class="row">
            <ul class="nav nav-pills nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="getmovie#NowShowing" aria-controls="NowShowing"
                                                          role="tab" data-toggle="tab">Now Showing</a></li>
                <li role="presentation"><a href="/getmovie#ComingSoon" aria-controls="ComingSoon" role="tab"
                                           data-toggle="tab">Coming Soon</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="tab-content">
                <!-- NOW SHOWING -->
                <div class="tab-pane active" id="NowShowing" role="tabpanel">
                    <!--<div class="row">-->
                    <div class="film-poster col-xs-6 col-sm-4 col-xl-3" ng-repeat="film in ctrl.currentMovies | filter:filmFilter">
                        <a ng-click="ctrl.replace(film)" ng-href="/getmovie#myModal" role="button"
                           data-img="{{film.posterUrl}}" data-title="{{film.title}}" data-desc="{{film.description}}"
                           data-toggle="modal">
                            <img alt="{{film.title}} poster" src="{{film.posterUrl}}" height="550" width="390"
                                 class="img-responsive">
                        </a>
                        <!--</div>-->
                    </div>
                </div>

                <!-- COMING SOON -->
                <div class="tab-pane" id="ComingSoon" role="tabpanel">
                    <!--<div class="row">-->
                    <div class="film-poster col-xs-6 col-sm-4 col-xl-3" ng-repeat="film in ctrl.comingSoonMovies | filter:filmFilter">
                        <a ng-click="ctrl.replace(film)" href="/getmovie#myModal" role="button"
                           data-img="{{film.posterUrl}}" data-title="{{film.title}}" data-desc="{{film.description}}"
                           data-toggle="modal">
                            <img alt="{{film.title}} poster" src="{{film.posterUrl}}" height="550" width="390"
                                 class="img-responsive">
                        </a>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->


        <!-- MOVIE MODAL -->

        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">


                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <img id="modalImg" src="lolscott.jpg" class="modal-img img-responsive"/>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <h2 id="modalTitle" class='film-title'>Title</h2>
                                <p id="modalDescription" class='film-description'>Summary</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="moreInfoButton" ng-click="ctrl.goToMovie()" type="button" class="btn btn-default">
                            More info
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.goToBookingPage()">Book now
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- END OF MODAL -->


    </div>
</div>


