@CHARSET "ISO-8859-1";

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white !important;
    background: radial-gradient(#811839, #3F0C1C) !important;
}

.nav-pills > li > a:focus {
	color: black !important;
    background-color: whitesmoke !important;
}

.nav-pills > li > a {
    border-radius: 0;
    color: black !important;
    background-color: #808080!important;
}

.nav-pills > li > a:hover {
	background-color: #cccccc !important;
}

div#myModal {
    color: black;
}

.row.getmovies {
    background: rgba(93, 25, 43, 0.65);
}