a {
	cursor: pointer;
}

.navbar {
	background: radial-gradient(#811839, #3F0C1C) !important;
	font-size: 1.2em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: radial-gradient(#3A3A3A, #0D1515) no-repeat center fixed;
  color: #9E9E9E;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #9E9E9E;
  color: #0D1515;
  overflow: hidden;
}

.footer-links > li{
	display: inline-block;
	/*margin-left: 15px;*/
	padding-right: 5px;
	padding-left: 5px;
}

.footer-links > li > a {
	color: #F0F0F0;
}

.footer-links > li > a:hover, .footer-links > li > a:focus {
	color: #3F0C1C;
}

#searchBox{
	width:150px;
	background-color:white;
	padding:5px 5px 5px 10px;
	transition:width 0.3s ease-in-out 0s;
}

#searchBox:focus{
	width:300px;
	border-color:white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.15);
	transition: 0.3s;
}

.jumbotron{
	background: rgb(255, 255, 255); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgb(255, 255, 255), rgb(152, 152, 152)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgb(255, 255, 255), rgb(152, 152, 152)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgb(255, 255, 255), rgb(152, 152, 152)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(152, 152, 152)); /* Standard syntax (must be last) */
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9), 0 6px 20px 0 rgba(0,0,0,0.75);
}

.dropdown-toggle, .navbar-brand, .navbar-right > li > a{
	margin:0px 5px;
	text-align:center;
	font-size:24px;
	border-radius:8px;
}

.dropdown-toggle:hover, .navbar-brand:hover, #signUp:hover, #signIn:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25), 0 6px 20px 0 rgba(0,0,0,0.18);
	transition:0.05s;
}

button:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 15px 0 rgba(0,0,0,0.3);
}

.dropdown-menu > li > a{
	text-align: center;
	border-radius:5px;
}

.dropdown-menu > li > a:hover, .footer-links > li > a:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25), 0 4px 10px 0 rgba(0,0,0,0.15);
}

.footer-links > li > a{
	text-decoration:none;
	padding:10px 15px;
	text-align:center;
	font-size:18px;
	border-radius:5px;
}