<div ng-controller="addUserController as ctrl">
    <h1>Add a new User</h1>

    <form role="form">
        <input id="email" placeholder="Email Address" ng-model="user.email">

        <input id="name" placeholder="Your Name" ng-model="user.name">

        <input id="password" placeholder="Password" ng-model="user.password">

        <div ng-hide="(globals.currentUser.role != 'admin')">
            <input id="role" placeholder="Password" ng-model="user.role">
        </div>

        <button type="submit" ng-click="ctrl.addUser(user)">Add User</button>
    </form>
</div>