<div ng-controller="getByTitleController as ctrl">
    <!--form role="form">
        <input id = "title" placeholder="title" ng-model="title">

        <button type="submit" ng-click="ctrl.getByTitle(movieTitle)">getMovie</button>
    <form -->

    <link rel="stylesheet" href="css/viewStyleSheets/movie/get-movie-by-title-style.css" id="viewStyle"/>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="poster">
                    <div class="col-md-6">
                        <img src="{{ctrl.movies[0].posterUrl}}" alt="Poster"
                             class="img-responsive center-block img-rounded" width="300px"
                             height="400px"/>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info">
                        <h2>{{ctrl.movies[0].title}}</h2>
                        <h4>Genre</h4>
                        <div class="row">
                            <div class="col-md-2">{{ctrl.movies[0].genre}}</div>
                        </div>
                        <h4>Description</h4>
                        <div class="row">
                            <div class="col-md-10">
                                <p>{{ctrl.movies[0].description}}</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Rating</h4>
                                {{ ctrl.movies[0].rating | number : 1}} out of 5
                            </div>
                            <div class="col-md-6">
                                <h4>Runtime</h4>
                                {{ctrl.movies[0].runtime}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div ng-show="!myRating">
                                    <h4>Your Rating</h4>
                                    <button ng-click="ctrl.calculate(1); myRating = !myRating">1</button>
                                    <button ng-click="ctrl.calculate(2); myRating = !myRating">2</button>
                                    <button ng-click="ctrl.calculate(3); myRating = !myRating">3</button>
                                    <button ng-click="ctrl.calculate(4); myRating = !myRating">4</button>
                                    <button ng-click="ctrl.calculate(5); myRating = !myRating">5</button>
                                </div>
                                <div ng-show="myRating">
                                    Thank you for your opinion!
                                </div>
                            </div>
                        </div>
                        <div ng-controller="getShowingByMovieController as ctrler">
                            <button type="submit"
                                    ng-click="ctrler.getByMovie(ctrl.movies[0].movieId); Book = !Book ">Find Times
                            </button>
                            <div ng-show="Book">
                                <div>
                                    <div ng-show="(ctrler.showings|filter: (ctrler.today | date:'yyyy-MM-dd')).length > 0">
                                        <button type="submit"
                                                ng-click="Today = !Today">Today
                                        </button>
                                    </div>
                                    <div ng-show="Today" class="row">
                                        <div class="film-poster col-xs-6 col-sm-4 col-xl-3"
                                             ng-repeat="x in ctrler.showings|filter: (ctrler.today | date:'yyyy-MM-dd')">
                                            <a ng-click="ctrler.replace(x)" ng-href="/getmovie#myModal"
                                               data-showingId="{{x.showingId}}" data-dateTime="{{x.dateTime | date}}"
                                               data-toggle="modal">
                                                <button type="submit">{{x.dateTime | date: 'H:mm'}}</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div ng-show="(ctrler.showings|filter: (ctrler.tomorrow | date:'yyyy-MM-dd')).length > 0">
                                        <button type="submit"
                                                ng-click="Tomorrow = !Tomorrow">
                                            Tomorrow
                                        </button>
                                    </div>
                                    <div ng-show="Tomorrow" class="row">
                                        <div class="film-poster col-xs-6 col-sm-4 col-xl-3"
                                             ng-repeat="y in ctrler.showings|filter: (ctrler.tomorrow | date:'yyyy-MM-dd')">
                                            <a ng-click="ctrler.replace(y)" ng-href="/getmovie#myModal"
                                               data-showingId="{{y.showingId}}" data-dateTime="{{y.dateTime | date}}"
                                               data-toggle="modal">
                                                <button type="submit">{{y.dateTime | date: 'H:mm'}}</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="(ctrler.showings|filter: (ctrler.future | date:'yyyy-MM-dd')).length > 0">
                                    <button type="submit"
                                            ng-click="Future = !Future">
                                        Future Showings
                                    </button>
                                </div>
                                <div ng-show="Future" class="row">
                                    <div class="film-poster col-xs-6 col-sm-4 col-xl-3"
                                         ng-repeat="y in ctrler.showings|myFilter:ctrler.showings">
                                        <a ng-click="ctrler.replace(y)" ng-href="/getmovie#myModal"
                                           data-showingId="{{y.showingId}}" data-dateTime="{{y.dateTime | date}}"
                                           data-toggle="modal">
                                            <button type="submit">{{y.dateTime}}</button>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h1 class="modal-title" id="myModalLabel">Select your tickets</h1>
                </div>

                <div class="modal-body">

                    <div ng-controller="addTicketController as ctrlerer" ng-submit="testCtrl.addText(qty)">

                        <form role="form">
                            <div class="form-group">
                                <label for="showing">Showing:</label>
                                <h3>{{ctrl.movies[0].title}}</h3>
                                <h3 id="modalShowing" class='showingId'>Showing</h3>
                                <h3 id="modalTime" class='dateTime'>DateTime</h3>
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <div ng-if="globals.currentUser.email != undefined">
                                    <input class="form-control" id="email" placeholder="email"
                                           ng-model="globals.currentUser.email" disabled>
                                </div>
                                <div ng-if="globals.currentUser.email == undefined">
                                    <input class="form-control" id="email" placeholder="email"
                                           ng-model="ticket.user.email">
                                </div>
                            </div>

                            <!--
                                <div class="form-group">
                                    <label for="orderId">OrderId:</label>
                                    <input class="form-control" id="orderId" placeholder="orderId"
                                           ng-model="ticket.orderId">
                                </div>
                            -->

                            <div class="form-group">
                                <label for="amount">Quantity:</label>
                                <form>
                                    <table style="width:100%">
                                        <tr>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                        </tr>
                                        <tr>
                                            <th>Adult</th>
                                            <th>£8</th>
                                            <th>
                                                <select name="Qty">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select></th>
                                        </tr>
                                        <tr>
                                            <th>Child</th>
                                            <th>£6</th>
                                            <th>
                                                <select name="Qty">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select></th>
                                        </tr>

                                    </table>
                                </form>
                            </div>
                            <div class="form-group">
                                <label for="seat">Seat:</label>
                                <input class="form-control" id="seat" placeholder="seat" ng-model="ticket.seat.seatId">
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input class="form-control" id="price" placeholder="price" ng-model="ticket.price">
                            </div>
                            -->
                            <button type="submit" ng-click="ctrlerer.addText(ticket, qty)">Continue</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="jumbotron-fluid" id="jumbo2">
        <div class="container">

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="videoWrapper">
                        <iframe width="854" height="480"
                                src="{{ctrl.movies[0].trailerUrl}}" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>

    </div>
</div>