<div class="plane" ng-controller="viewercontroller as ctrl">
    <div class="cockpit">
        <h1>SCREEN</h1>
    </div>
    <div class>
    </div>
    <ol class="cabin fuselage" id="seatmap">
        <li class="row row--1">
            <ol class="seats" type="1">
                <li class="seat">
                    <input type="checkbox" id="1A" ng-click="ctrl.checkboxChanged('1A')"/>
                    <label for="1A">1A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="1B" ng-click="ctrl.checkboxChanged('1B')"/>
                    <label for="1B">1B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="1C" ng-click="ctrl.checkboxChanged('1C')"/>
                    <label for="1C">1C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="1D" ng-click="ctrl.checkboxChanged('1D')"/>
                    <label for="1D">1D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="1E" ng-click="ctrl.checkboxChanged('1E')"/>
                    <label for="1E">1E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="1F" ng-click="ctrl.checkboxChanged('1F')"/>
                    <label for="1F">1F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="1G" ng-click="ctrl.checkboxChanged('1G')"/>
                    <label for="1G">1G</label>
                </li>
            </ol>
        </li>
        <li class="row row--2">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="2A" ng-click="ctrl.checkboxChanged('2A')"/>
                    <label for="2A">2A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="2B" ng-click="ctrl.checkboxChanged('2B')"/>
                    <label for="2B">2B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="2C" ng-click="ctrl.checkboxChanged('2C')"/>
                    <label for="2C">2C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="2D" ng-click="ctrl.checkboxChanged('2D')"/>
                    <label for="2D">2D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="2E" ng-click="ctrl.checkboxChanged('2E')"/>
                    <label for="2E">2E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="2F" ng-click="ctrl.checkboxChanged('2F')"/>
                    <label for="2F">2F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="2G" ng-click="ctrl.checkboxChanged('2G')"/>
                    <label for="2G">2G</label>
                </li>
            </ol>
        </li>
        <li class="row row--3">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="3A" ng-click="ctrl.checkboxChanged('3A')"/>
                    <label for="3A">3A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="3B" ng-click="ctrl.checkboxChanged('3B')"/>
                    <label for="3B">3B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="3C" ng-click="ctrl.checkboxChanged('3C')"/>
                    <label for="3C">3C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="3D" ng-click="ctrl.checkboxChanged('3D')"/>
                    <label for="3D">3D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="3E" ng-click="ctrl.checkboxChanged('3E')"/>
                    <label for="3E">3E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="3F" ng-click="ctrl.checkboxChanged('3F')"/>
                    <label for="3F">3F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="3G" ng-click="ctrl.checkboxChanged('3G')"/>
                    <label for="3G">3G</label>
                </li>
            </ol>
        </li>
        <li class="row row--4">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="4A" ng-click="ctrl.checkboxChanged('4A')"/>
                    <label for="4A">4A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="4B" ng-click="ctrl.checkboxChanged('4B')"/>
                    <label for="4B">4B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="4C" ng-click="ctrl.checkboxChanged('4C')"/>
                    <label for="4C">4C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="4D" ng-click="ctrl.checkboxChanged('4D')"/>
                    <label for="4D">4D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="4E" ng-click="ctrl.checkboxChanged('4E')"/>
                    <label for="4E">4E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="4F" ng-click="ctrl.checkboxChanged('4F')"/>
                    <label for="4F">4F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="4G" ng-click="ctrl.checkboxChanged('4G')"/>
                    <label for="4G">4G</label>
                </li>
            </ol>
        </li>
        <li class="row row--5">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="5A" ng-click="ctrl.checkboxChanged('5A')"/>
                    <label for="5A">5A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="5B" ng-click="ctrl.checkboxChanged('5B')"/>
                    <label for="5B">5B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="5C" ng-click="ctrl.checkboxChanged('5C')"/>
                    <label for="5C">5C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="5D" ng-click="ctrl.checkboxChanged('5D')"/>
                    <label for="5D">5D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="5E" ng-click="ctrl.checkboxChanged('5E')"/>
                    <label for="5E">5E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="5F" ng-click="ctrl.checkboxChanged('5F')"/>
                    <label for="5F">5F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="5G" ng-click="ctrl.checkboxChanged('5G')"/>
                    <label for="5G">5G</label>
                </li>
            </ol>
        </li>
        <li class="row row--6">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="6A" ng-click="ctrl.checkboxChanged('6A')"/>
                    <label for="6A">6A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="6B" ng-click="ctrl.checkboxChanged('6B')"/>
                    <label for="6B">6B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="6C" ng-click="ctrl.checkboxChanged('6C')"/>
                    <label for="6C">6C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="6D" ng-click="ctrl.checkboxChanged('6D')"/>
                    <label for="6D">6D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="6E" ng-click="ctrl.checkboxChanged('6E')"/>
                    <label for="6E">6E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="6F" ng-click="ctrl.checkboxChanged('6F')"/>
                    <label for="6F">6F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="6G" ng-click="ctrl.checkboxChanged('6G')"/>
                    <label for="6G">6G</label>
                </li>
            </ol>
        </li>
        <li class="row row--7">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="7A" ng-click="ctrl.checkboxChanged('7A')"/>
                    <label for="7A">7A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="7B" ng-click="ctrl.checkboxChanged('7B')"/>
                    <label for="7B">7B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="7C" ng-click="ctrl.checkboxChanged('7C')"/>
                    <label for="7C">7C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="7D" ng-click="ctrl.checkboxChanged('7D')"/>
                    <label for="7D">7D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="7E" ng-click="ctrl.checkboxChanged('7E')"/>
                    <label for="7E">7E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="7F" ng-click="ctrl.checkboxChanged('7F')"/>
                    <label for="7F">7F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="7G" ng-click="ctrl.checkboxChanged('7G')"/>
                    <label for="7G">7G</label>
                </li>
            </ol>
        </li>
        <li class="row row--8">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="8A" ng-click="ctrl.checkboxChanged('8A')"/>
                    <label for="8A">8A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="8B" ng-click="ctrl.checkboxChanged('8B')"/>
                    <label for="8B">8B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="8C" ng-click="ctrl.checkboxChanged('8C')"/>
                    <label for="8C">8C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="8D" ng-click="ctrl.checkboxChanged('8D')"/>
                    <label for="8D">8D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="8E" ng-click="ctrl.checkboxChanged('8E')"/>
                    <label for="8E">8E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="8F" ng-click="ctrl.checkboxChanged('8F')"/>
                    <label for="8F">8F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="8G" ng-click="ctrl.checkboxChanged('8G')"/>
                    <label for="8G">8G</label>
                </li>
            </ol>
        </li>
        <li class="row row--9">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="9A" ng-click="ctrl.checkboxChanged('9A')"/>
                    <label for="9A">9A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="9B" ng-click="ctrl.checkboxChanged('9B')"/>
                    <label for="9B">9B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="9C" ng-click="ctrl.checkboxChanged('9C')"/>
                    <label for="9C">9C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="9D" ng-click="ctrl.checkboxChanged('9D')"/>
                    <label for="9D">9D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="9E" ng-click="ctrl.checkboxChanged('9E')"/>
                    <label for="9E">9E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="9F" ng-click="ctrl.checkboxChanged('9F')"/>
                    <label for="9F">9F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="9G" ng-click="ctrl.checkboxChanged('9G')"/>
                    <label for="9G">9G</label>
                </li>
            </ol>
        </li>
        <li class="row row--10">
            <ol class="seats" type="A">
                <li class="seat">
                    <input type="checkbox" id="10A" ng-click="ctrl.checkboxChanged('10A')"/>
                    <label for="10A">10A</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="10B" ng-click="ctrl.checkboxChanged('10B')"/>
                    <label for="10B">10B</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="10C" ng-click="ctrl.checkboxChanged('10C')"/>
                    <label for="10C">10C</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="10D" ng-click="ctrl.checkboxChanged('10D')"/>
                    <label for="10D">10D</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="10E" ng-click="ctrl.checkboxChanged('10E')"/>
                    <label for="10E">10E</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="10F" ng-click="ctrl.checkboxChanged('10F')"/>
                    <label for="10F">10F</label>
                </li>
                <li class="seat">
                    <input type="checkbox" id="10G" ng-click="ctrl.checkboxChanged('10G')"/>
                    <label for="10G">10G</label>
                </li>
            </ol>
        </li>
    </ol>

    <div>
        <button type="submit" ng-click="ctrl.submitSeats()">Submit</button>

    </div>

</div>
</html>


