<!doctype html>
<html ng-app="movieApp">
<head>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <title>Cinema Booking App</title>
    <link rel="stylesheet" href="scripts/bootstrap.css"/>
    <link rel="stylesheet" href="css/globalStyle.css"/>
    <link rel="stylesheet" href="css/index.css"/>
	<link rel="stylesheet" href="css/viewStyleSheets/home/dashboard.css" id="viewStyle"/>

</head>
<body ng-controller="ParentController">

<nav class="navbar navbar-inverse">

	<div class="container-fluid">
		<div class="navbar-header">
			<ul id="home">
				<a class="navbar-brand" ui-sref="dashboard" id="dashboard" onclick="styleChange(this)">QA Cinema</a>
			</ul>
		</div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Movie
					<span class="caret"></span></a>

				<ul class="dropdown-menu" id="movie">
					<li><a ui-sref="addmovie" id="add-movie" onclick="styleChange(this)">Add Movie</a></li>
					<li><a ui-sref="addmovieposter" id="add-movie-poster" onclick="styleChange(this)">Add Movie Poster</a></li>
					<li><a ui-sref="getmovie" id="get-movie" onclick="styleChange(this)">Get Movie</a></li>
					<li><a ui-sref="updatemovie" id="update-movie" onclick="styleChange(this)">Update Movie</a></li>
					<li><a ui-sref="deletemovie" id="delete-movie" onclick="styleChange(this)">Delete Movie</a></li>
         			<li><a ui-sref="getmoviebytitle" id="get-movie-by-title" onclick="styleChange(this)">Get movie by title</a></li>
          			<li><a ui-sref="getmoviebygenre" id="get-movie-by-genre" onclick="styleChange(this)">Search Movies By Genre</a></li>
          			<li><a ui-sref="payment">Payment</a></li>

				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">User
					<span class="caret"></span></a>
				<ul class="dropdown-menu" id="user">
					<li><a ui-sref="adduser" id="add-user" onclick="styleChange(this)">Add User</a></li>
					<li><a ui-sref="getuser" id="get-user" onclick="styleChange(this)">Get User</a></li>
					<li><a ui-sref="updateuser" id="update-user" onclick="styleChange(this)">Update User</a></li>
					<li><a ui-sref="deleteuser" id="delete-user" onclick="styleChange(this)">Delete User</a></li>
				</ul>
			</li>
      		<li class="dropdown">
          		<a class="dropdown-toggle" data-toggle="dropdown">Showings
              		<span class="caret"></span></a>
          		<ul class="dropdown-menu" id="showing">
              		<li><a ui-sref="getshowings" id="get-showings" onclick="styleChange(this)">Get Showings</a></li>
              		<li><a ui-sref="getshowingsbymovie" id="get-showings-by-movie" onclick="styleChange(this)">Get Showings By Movie</a></li>
              		<li><a ui-sref="addshowing" id="add-showing" onclick="styleChange(this)">Add Showing</a></li>
              		<li><a ui-sref="deleteshowing" id="delete-showing" onclick="styleChange(this)">Delete Showing</a></li>
              		<li><a ui-sref="updateshowing" id="update-showing" onclick="styleChange(this)">Update Showing</a></li>
          		</ul>
      		</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Tickets
					<span class="caret"></span></a>

				<ul class="dropdown-menu" id="ticket">
					<li><a ui-sref="gettickets" id="get-user-tickets" onclick="styleChange(this)">Get Tickets</a></li>
					<li><a ui-sref="updateticket" id="update-ticket" onclick="styleChange(this)">Update Tickets</a></li>
					<li><a ui-sref="addticket" id="add-ticket" onclick="styleChange(this)">Add Ticket</a></li>
					<li><a ui-sref="getavailableticket" id="get-available-ticket" onclick="styleChange(this)">Get Available Tickets For Showing</a></li>
					<li><a ui-sref="deleteticket" id="delete-ticket" onclick="styleChange(this)">Delete Ticket</a></li>
          <li><a ui-sref="addticketstandalone" onclick="stylechange(this)">Quick book ticket</a></li>

				</ul>
			</li>
     		 <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Seat
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" id="seat">
                    <li><a ui-sref="addseat" id="add-seat" onclick="styleChange(this)">Add Seat</a></li>
                    <li><a ui-sref="getseat" id="get-seat" onclick="styleChange(this)">Get Seat</a></li>
                    <li><a ui-sref="updateseat" id="update-seat" onclick="styleChange(this)">Update Seat</a></li>
                    <li><a ui-sref="deleteseat" id="delete-seat" onclick="styleChange(this)">Delete Seat</a></li>
					<li><a ui-sref="viewer" id="viewer" onclick="styleChange(this)">View Seats</a></li>
				</ul>
			 </li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Screen
					<span class="caret"></span></a>
				<ul class="dropdown-menu" id="screen">
					<li><a ui-sref="addscreen" id="add-screen" onclick="styleChange(this)">Add Screen</a></li>
					<li><a ui-sref="getscreen" id="get-screen" onclick="styleChange(this)">Get Screen</a></li>
					<li><a ui-sref="deletescreen" id="delete-screen" onclick="styleChange(this)">Delete Screen</a></li>
				</ul>
			</li>
		</ul>
		<div ng-if="(globals.currentUser.role == undefined)">
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="adduser">Sign up</a></li>
			</ul>
		</div>
		<div ng-if="(globals.currentUser.email == undefined)">
			<ul class="nav navbar-nav navbar-right">
				<li><a style="cursor: default; color: inherit;">or</a></li>
			</ul>
		</div>

		<div ng-if="(globals.currentUser.email == undefined)">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" ng-click="openLogin()">Sign in</a></li>
			</ul>
		</div>
		<div ng-if="(globals.currentUser.role == 'admin')">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Admin
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="addmovie">Add Movie</a></li>
						<li><a ui-sref="addshowing">Add Showing</a></li>
						<li><a ui-sref="adduser">Add User</a></li>
						<li><a href="#" ng-click="logout()">logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div ng-if="(globals.currentUser.role == 'customer')">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{ globals.currentUser.fName }}
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" ng-click="logout()">logout</a></li>
					</ul>
				</li>
			</ul>
    </div>
  		<form class="navbar-form navbar-right">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control search-button" placeholder="Search Film" id="searchBox" ng-model="string">
					<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				</div>
			</div>
			<button type="submit" class="btn btn-default" ng-click="goToResults(string)">Submit</button>
		</form>
	</div>
</nav>

	

		<div ui-view></div>
{{ globals.currentUser.ticketQuantity }}







	<script src="scripts/jquery-2.1.4.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/ui-router.min.js"></script>
	<script src="scripts/ui-bootstrap-tpls-0.11.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-cookies.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/app-state-manager.js"></script>
	<script src="app/global-functions.js"></script>


	<!-- Services-->
	<script src="app/service/dal/dal.js"></script>
	<script src="app/service/dal/movie.js"></script>
	<script src="app/service/dal/user.js"></script>
	<script src="app/service/dal/showing.js"></script>
	<script src="app/service/dal/ticket.js"></script>
	<script src="app/service/dal/seat.js"></script>
	<script src="app/service/dal/screen.js"></script>

	<!--FACTORY -->
	<script src="app/service/authInterceptor.js"></script>


    <script src="app/feature/dashboard/dashboard-controller.js"></script>
    <script src="app/feature/movie/add/add-movie-controller.js"></script>
    <script src="app/feature/movie/get/get-movie-controller.js"></script>
    <script src="app/feature/movie/delete/delete-movie-controller.js"></script>
    <script src="app/feature/movie/update/update-movie-controller.js"></script>
    <script src="app/feature/movie/get-by-title/get-movie-by-title-controller.js"></script>
    <script src="app/feature/movie/get-by-genre/get-movie-by-genre-controller.js"></script>
    <script src="app/feature/movie/search/search-results-controller.js"></script>  
    <script src="app/feature/user/add/add-user-controller.js"></script>
    <script src="app/feature/user/get/get-user-controller.js"></script>
    <script src="app/feature/showing/get/get-showing-controller.js"></script>
    <script src="app/feature/showing/add/add-showing-controller.js"></script>
    <script src="app/feature/showing/delete/delete-showing-controller.js"></script>
    <script src="app/feature/showing/update/update-showing-controller.js"></script>
    <script src="app/feature/showing/get-by-movie/get-showing-by-movie-controller.js"></script>
    <script src="app/feature/ticket/get/get-user-tickets-controller.js"></script>
    <!--<script src="app/feature/ticket/update/update-ticket-controller.js"></script>-->
	  <script src="app/feature/ticket/add/add-ticket-controller.js"></script>
	  <script src="app/feature/ticket/get-available-for-showing/get-available-for-showing-controller.js"></script>
	  <script src="app/feature/ticket/delete/delete-ticket-controller.js"></script>



    <script src="app/feature/seat/add/add-seat-controller.js"></script>
    <script src="app/feature/seat/get/get-seat-controller.js"></script>
    <script src="app/feature/seat/delete/delete-seat-controller.js"></script>
  <script src="app/feature/payment/payment-controller.js"></script>


	<script src="app/feature/movie/add-movie-poster/add-movie-poster-controller.js"></script>

	<script src="app/feature/screen/add/add-screen-controller.js"></script>
	<script src="app/feature/screen/get/get-screen-controller.js"></script>
	<script src="app/feature/screen/delete/delete-screen-controller.js"></script>

  <script src="app/feature/seat/add/add-seat-controller.js"></script>
  <script src="app/feature/seat/get/get-seat-controller.js"></script>
  <script src="app/feature/seat/delete/delete-seat-controller.js"></script>
<script src="app/feature/seat/viewer/viewercontroller.js"></script>


  
    <!--CONTROLLERS -->
	<script src="app/feature/login/parentController.js"></script>
	<script src="app/feature/login/login.js"></script>
	<script src="app/feature/contactUs/contact-us-controller.js"></script>
	<script src="css/styleChanger.js"></script>


    <!--SERVICES -->
    <script src="app/service/auth.js"></script>
    <script src="app/service/session.js"></script>

	<div id="footer">
		<footer class="footer">
		<div class="container">
			<ul class="footer-links text-center" id="footerlinks">
				<li><a ui-sref="aboutus">About us</a></li>
				<li><a ui-sref="contactus" id="contactus" onclick="styleChange(this)">Contact Us</a></li>
				<li><a ui-sref="discussion">Discussion page</a></li>
				<li><a ui-sref="cookies">Cookies</a></li>
			</ul>
		</div>
	</footer>
	</div>





</body>
</html>
