<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h1 class="modal-title" id="myModalLabel">Select your tickets</h1>
        </div>
        <!--<div class="modal-body">-->



            <div ng-controller="addTicketController as ctrl" ng-submit="testCtrl.addText(qty)">
                {{ctrl.error}}
                {{ctrl.errorMessage}}

                <form role="form">

                    <div class="form-group">
                        <label for="seat">Seat:</label>
                        <input class="form-control" id="seat" placeholder="seat" ng-model="ticket.seat.seatId">
                    </div>

                    <div class="form-group">
                        <label for="showing">Movie:</label>
                        <select ng-options="movie.movieId as movie.title for movie in ctrl.movieList" ng-model="selected" ng-change="ctrl.getShowingsById(selected)"></select>
                    </div>

                    <div class="form-group">
                        <label for="showing">Showing:</label>
                        <select ng-options="showing.showingId as showing.dateTime for showing in ctrl.movieShowingList" ng-model="ticket.showing.showingId" ng-change="ctrl.getPriceByShowingId()"></select>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" placeholder="email" ng-model="ticket.user.email">
                    </div>
                    <div class="form-group">
                        <label for="amount">Quantity:</label>
                        <input class="form-control" type="amount" min="1" max="20" ng-model="qty" placeholder="quantity">
                    </div>

                    <button type="submit" ng-click="ctrl.addTicket(ticket, qty)">Continue</button>

                </form>
            </div>
        <!--</div>-->