<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                    class="sr-only">Close</span></button>
            <h1 class="modal-title" id="myModalLabel">Select your tickets</h1>
        </div>
        <!--<div class="modal-body">-->


        <div ng-controller="addTicketController as ctrl" ng-submit="testCtrl.addText(qty)">

            <form role="form">

                <div class="form-group">
                    <label for="showing">Movie:</label>
                    <select ng-options="movie.movieId as movie.title for movie in ctrl.movieList" ng-model="selected"
                            ng-change="ctrl.getShowingsById(selected)"></select>
                </div>

                <div class="form-group">
                    <label for="showing">Showing:</label>
                    <select id="showing" ng-options="showing.showingId as showing.dateTime for showing in ctrl.movieShowingList"
                            ng-model="ticket.showing.showingId"
                            ng-change="ctrl.updateGlobalPrices(ticket.showing.showingId)"></select>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <div ng-if="globals.currentUser.email != undefined">
                        <input class="form-control" id="email" placeholder="email"
                               ng-model="globals.currentUser.email" disabled>
                    </div>
                    <div ng-if="globals.currentUser.email == undefined">
                        <input class="form-control" id="email" placeholder="email"
                               ng-model="ticket.user.email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="adultQty">Adult tickets:</label>
                    <input id="adultQty" class="form-control" type="number" min="0" ng-model="adultQty"
                           placeholder="Adult tickets" ng-change="ctrl.updateAdultQty(adultQty)">
                </div>

                <div class="form-group">
                    <label for="childQty">Child tickets:</label>
                    <input id="childQty" class="form-control" type="number" min="0" ng-model="childQty"
                           placeholder="Child tickets" ng-change="ctrl.updateChildQty(childQty)">
                </div>

                <div class="form-group">
                    <button class="btn btn-block" type="submit" ng-click="ctrl.showSeatViewer(adultQty, childQty, ticket)" id="viewer" onclick="styleChange(this)">
                        Choose Seats
                    </button>
                </div>
                <ul id="temp">
                    <button type="submit" ng-click="ctrl.addTicket(ticket, adultQty, childQty)">Continue</button>
                </ul>
            </form>
            <h2>Total price: {{ctrl.totalPrice | currency:"£":2}} </h2>
        </div>
    </div>
</div>